<a href="https://colab.research.google.com/github/viviansharp/Nawiri_Sprint/blob/main/For_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><img src="https://images.squarespace-cdn.com/content/v1/63ad4ba82d1ef311d74b008d/ab1297c0-3227-4ea4-94a3-10fcf4efd0d2/NAWIRIfoo.png?format=300w" style="height:150px"></center>
<center><h2> Problem Solving and Programming </h2></center>
<hr style="border-width:2px;border-color:#002f70">
<center><h2> Working with Data</h2></center>
<center><h3> For Loops<h3></center>
<hr style="border-width:2px;border-color:#002f70">

In [1]:
countries=['Ethiopia','Senegal','Nigeria','Uganda','Rwanda','South Africa','Kenya','Togo','Tunisia','Burundi','Ghana','Democratic Republic of Congo','Zimbabwe','Zambia','Madagascar']

If you wanted to print every country in the list on a separate line, without an effiecient way, it could be hectic and repetitive

In [2]:
print(countries[0])
print(countries[1])
print(countries[2])
print(countries[3])
print(countries[4])
print(countries[5])
print(countries[6])
print(countries[7])
#...

Ethiopia
Senegal
Nigeria
Uganda
Rwanda
South Africa
Kenya
Togo

This is where loops come in. In this notebook, we'll be looking at `for loops` which will help iterate through lists.

In [4]:
for x in countries:
    print(x)

Ethiopia
Senegal
Nigeria
Uganda
Rwanda
South Africa
Kenya
Togo
Tunisia
Burundi
Ghana
Democratic Republic of Congo
Zimbabwe
Zambia
Madagascar

In just 2 lines of code! The above code may seem confusing, but what it's saying is that for every element in the list `countries`, print that element. 

In this case, we use `for country in countries`, but we can use anything in place of `country`, even `for x in countries` would work fine. So long as the code below follows the same order, `print(x)`.

Note that we have to indent after the for loop. Basically what is happening is that for the each time in the for loop, the indented statement runs.

Also, note the colon that precedes every indent

In [ ]:
# This is the same
for x in countries:
    print(x)

Ethiopia
Senegal
Nigeria
Uganda
Rwanda
South Africa
Kenya
Togo
Tunisia
Burundi
Ghana
Democratic Republic of Congo
Zimbabwe
Zambia
Madagascar

In [5]:
population=[122520463,17914954,219711928,49575968,13803365,61291696,56910721,8793585,12146523,12830849,32793809,96781959,15436764,19750494, 29580236]

Try printing out every population using a `for loop` from the list above.

In [6]:
for y in population:
  print(y)

122520463
17914954
219711928
49575968
13803365
61291696
56910721
8793585
12146523
12830849
32793809
96781959
15436764
19750494
29580236

The numbers on their own are not informative. However, the populations are actually arranged in such a way that they align with each country in the list of countries. Let's print this out using only one for loop.

Try and figure this out before looking at the answer in the cell below.

In [ ]:
# Hint: It's only two lines of code, but will print country on one side, and
# population on the other

In [8]:
for pop in population:
    print(countries[population.index(pop)],pop)

Ethiopia 122520463
Senegal 17914954
Nigeria 219711928
Uganda 49575968
Rwanda 13803365
South Africa 61291696
Kenya 56910721
Togo 8793585
Tunisia 12146523
Burundi 12830849
Ghana 32793809
Democratic Republic of Congo 96781959
Zimbabwe 15436764
Zambia 19750494
Madagascar 29580236

One thing to note is how unreadable these numbers are. It's hard to distinguish the millions from tens of millions. We'll fix this issue in a future notebook in a very efficient way. However, we've done a pretty good job so far!

Let's look at the `range` function in a for loop.

Imagine a scenerio where you wanted every number from 1-100, stored in a list. We could use `range` for this.

In [9]:
l=[]
for i in range(1,101,1):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

Let's try to understand what just happened. The `range` function works in the same way as `slicing`. The first number is the `start` point, the second is the `stop`, and the third is the `step`. However, `start` and `step` are optional arguments. If we only provide the `stop`, the default `step` is 1, and start is 0. 

In this case, range returns all numbers from 1-100, which we then append to our intiially list `l`.

Let's see more examples

In [10]:
l=[]
for i in range(100):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [11]:
for i in range(len(countries)):
    print(countries[i])

Ethiopia
Senegal
Nigeria
Uganda
Rwanda
South Africa
Kenya
Togo
Tunisia
Burundi
Ghana
Democratic Republic of Congo
Zimbabwe
Zambia
Madagascar

`range` is very helpful when you're dealing with multiple lists

Using range, print out the countries beside their respective populations

In [12]:
for i in range(len(countries)):
    print(countries[i],population[i])

Ethiopia 122520463
Senegal 17914954
Nigeria 219711928
Uganda 49575968
Rwanda 13803365
South Africa 61291696
Kenya 56910721
Togo 8793585
Tunisia 12146523
Burundi 12830849
Ghana 32793809
Democratic Republic of Congo 96781959
Zimbabwe 15436764
Zambia 19750494
Madagascar 29580236

### Exercise

Using only one `for loop`, print the population of each country in millions. You might want to use the [round() function](https://stackoverflow.com/questions/46481351/how-to-round-numbers-to-the-nearest-1000). The output should look like this:
```
Ethiopia:  123 million people
Senegal:  18 million people
...
Zambia:  20 million people
Madagascar:  30 million people
```

In [24]:


for i in range(len(countries)):
    roundup = [round(num,-6) for num in population]
    print(countries[i],roundup[i])

Ethiopia 123000000
Senegal 18000000
Nigeria 220000000
Uganda 50000000
Rwanda 14000000
South Africa 61000000
Kenya 57000000
Togo 9000000
Tunisia 12000000
Burundi 13000000
Ghana 33000000
Democratic Republic of Congo 97000000
Zimbabwe 15000000
Zambia 20000000
Madagascar 30000000