<a href="https://colab.research.google.com/github/viviansharp/Nawiri_Sprint/blob/main/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><img src="https://images.squarespace-cdn.com/content/v1/63ad4ba82d1ef311d74b008d/ab1297c0-3227-4ea4-94a3-10fcf4efd0d2/NAWIRIfoo.png?format=300w" style="height:150px"></center>
<center><h2> Problem Solving and Programming </h2></center>
<hr style="border-width:2px;border-color:#002f70">
<center><h2> Introduction to Python</h2></center>
<center><h3> Operators<h3></center>
<hr style="border-width:2px;border-color:#002f70">

Operators are signs used in programming to achieve a desired output. These include `=`,`+`,`>`, `<`, among many others. We've looked at some operators before, so let's run through a few, and introduce some others. We will look at:
1. Assignment operators such as `=`,`+=`..
2. Comparison operators such as `<`,`==`..
3. Membership operators such as `in`,`not in`
4. Logical operators such as `and`,`or`,`not`

### 1. Assignment operators

These are operators that are used to help assign values or expressions to the left-hand-side variable.
They include:

In [10]:
# Run this cell
# Simple assignment operator(=)
x=5
x

5

In the above example, the assignment operator `=` just assigns the value `5` to `x`.

The other assignment operators build on the arithmetic we learned in the previous notebook. +,-,/,*,//,%.

They work as a shortform to writing repetitive mathematical expressions. For example, `x=x+3` can be written as `x+=3`. This applies for all the operators below:


| Symbol | Operation      |
|:------:|:--------------:|
| `+=`   | Addition       |
| `-=`   | Subtraction    |
| `*=`   | Multiplication |
| `/=`   | Real division  |
| `//=`  | Floor division |
| `**=`  | Exponentiation |
| `%=`   | Modulus        |

In [11]:
# Addition assignment
x+=10
x

15

The above code is the same as writing `x=x+10`, but more concise

In [12]:
# Subtraction assignment
x-=7
x

8

The above is like `x=x-7`

In [13]:
# Division assignment
x/=2
x

4.0

Perform the assignment operations below

In [14]:
# Multiplication assignment
x*=2
x

8.0

In [16]:
# Exponentiation assignment
x**=2
x

64.0

### 2. Comparison operators

The comparison operators allow you to compare the values of two variables. Comparison operations return a data type called a `bool`. This is like the other data types we've gone through, only that a `bool` only has two values. `True` and `False`.

> Think about it this way. `int` could be all numbers from negative infinity to positive infinity. `float` could be any number, just like `int`, but has a decimal point. Now, `bool` is limited to only two values. `True` or `False`.

The Boolean value is `True` if an expression is true, or `False` if it turns out to be false. This sounds like a lot, but let's break it down.

In [17]:
x=3
y=6

Comparison operators allow comparison of these two variables. We can know whether x is greater than y, less than, equal to etc. For example, when we run `x>y` and the value returns `True`, then x is greater than y.

In [18]:
x>y

False

Since `False` is returned, then x is not greater than y. Another check would be to see whether x is equal to y. We can run `x==y` to see the output. 

>Do you understand why the operator we're using in this case is `==` and not `=`?

In [19]:
x==y

False

`False` is returned, meaning that `x is not equal to y`. The only other possibility is that x is less than y. Let's check for this using the operator `<`.

In [20]:
x<y

True

Great! And this makes sense, since `x is 3` and `y is 6`. Everytime we run a comparison operator, we receive a `True` or `False` value. This is the data type`bool`

In [21]:
type(x>y)

bool

In [22]:
type(True)

bool

`bools` only have two values: True and False. And these are the outputs of comparison operators. Programming with such simple figures may make this seem a bit simple and uninteresting. However, imagine using comparison operators in a large dataset. Filtering out where values are greater than a certain number, where gender equals something specific, and so on. This is where we're heading in the next few notebooks!

| Expression | Example  | Meaning |
|:-----------|:--------:|:-----------------------------------------|
| `<`        | `x < y`  | Is `x` **less than** `y`?                |
| `<=`       | `x <= y` | Is `x` **lesser or equal** to `y`?       |
| `>`        | `x > y`  | Is `x` **greater** than `y`?             |
| `>=`       | `x >= y` | Is `x` **greater or equal** to `y`?      |
| `==`       | `x == y` | Is `x` **equal** to `y`?                 |
| `!=`       | `x != y` | Is `x` **different** from `y`?           |

**YOU MUST NOT CONFUSE `x == y` with` x = y`**. The first instruction is a **comparison** operation while the second one is an **assignment**.

In programming, `!` is the same as `NOT`.

### 3. Membership operators

These are used to test whether a value is **absent or present** in data. These will particularly come in handy when working with other data types such as lists and tuples, which we will cover in the next notebook. However, we will explore their applications in strings. 

There are only two membership operators, `in` and `not in`. They also return `bool` values.

In [ ]:
string1="Mozambique is a beautiful country"

We can try to determine whether certain words appear in our string.

In [ ]:
'Mozambique' in string1

True

`True` is returned because `Mozambique` is, indeed in `string1`

In [ ]:
'Accra' in string1

False

In [ ]:
'beautiful' in string1

True

In [ ]:
'city' not in string1

True

This will again be appreciated more in bigger datasets.

In [24]:
world_cup='''
    The 22 World Cup tournaments have been won by eight national teams. Brazil have won five times , and they are the only team to have played in every tournament . 
    The other World Cup winners are Germany and Italy , with four titles each ; Argentina with three titles; France , and inaugural winner Uruguay, with two titles each; 
    and England and Spain , with one title each .
    '''

In [25]:
# with a single line of code, confirm whether 'Croatia' is mentioned in the world_cup excerpt
'Croatia' in world_cup

False

In [26]:
# Confirm whether Spain is mentioned in the world_cup excerpt
'Spain' in world_cup

True

### 4. Logical Operators

Logical operators include `and`,`or`, and `not`. They allow you to perform what is called **Boolean arithmetic**. Typically, when we have multiple Boolean expressions, logical operators are used to determine whether:
* **All** expressions are true.
* **At least one** of the expressions is true.

| Operator | Example   | Meaning                          |
|:--------:|:---------:| ---------------------------------|
| `and`    | `P and Q` | Are P and Q **both** true?       |
| `or`     | `P or Q`  | Is **at least one** of the expressions among P and Q true? |
| `not`    | `not P`   | The **negation** of the expression P |

Let's see this in code

In [27]:
x=5
y=2

In [28]:
# Evaluating with or will return true, if any of the conditions are true
(x==5) and (y==1)

False

False is returned because `x is equal to 5` but `y is not equal to 1`. That is: `x==5` but `y!=1`. Let's run these two independently to understand them better

In [ ]:
x==5

True

In [29]:
y==1

False

We can see that the output is `True` and `False`.

For the `and` operator to return `True`, both expressions must return `True`. Else, if even one of them is `False`, it will return `False`. This will particularly be useful when we are assigning conditions and filters to data.

Based on the table provided above under the heading `Logical operators`, can you guess what will happen when we use `or` instead of `and` in the same expression?
```
(x==5) or (y==1)
```

In [30]:
# Run the cell below to find out what happens
(x==5) or (y==1)

True

Unlike `and`, `or` returns `True` as long as at least 1 of the operations is `True`. Because the first operation is `True`, we get that as our result.

The final logical operator is the `not` operator. This is a negation operator. This means that when an operation is `True`, it turns it to `False`, and when an operation is `False`, it will return `True`.

In [31]:
not(x==5)

False

In [32]:
not((x==5) and (y==1))

True

Let's consider a situation where you decide to buy your younger brother ice cream if he behaves throughout the week, scores 9 in his language test, or scores at least an 8 in his math test. By the end of the week, you decide to evaluate and store your evaluation in variables. He does not behave, scores 10 in his language test, and scores 7 in his math test. Using logical operators, do you owe him ice cream?

In [33]:
Behaves=False
language_test=10
math_test=7
criteria1=(Behaves==True)
criteria2=(language_test>=9)
criteria3=(math_test>=8)

result=criteria1 or criteria2 or criteria3

print("Do I owe my younger brother ice cream?",result)

Do I owe my younger brother ice cream? True

You decide to reevaluate your conditions. This time, he must behave, score at least an 8 in his math test, and a 9 in languages in order to get an ice cream. Write code using logical operators to evaluate whether he gets ice cream when he `behaves`, scores a `9` in math, and an `8` in languages.

In [34]:
Behaves=True
language_test=8
math_test=9
criteria1=(Behaves==True)
criteria2=(language_test>=9)
criteria3=(math_test>=8)

result=criteria1 or criteria2 or criteria3

print("Do I owe my younger brother ice cream?",result)

Do I owe my younger brother ice cream? True

### Question

The South African government has decided to offer a bonus of 30000 Rand to some civil servants according to their salary and seniority. Like all other measures taken by the government, it is difficult to understand to whom it applies.
From what you understand, a person can receive the bonus if:
* Criterion 1: They have **less than 5 years** of seniority **and** their salary is **less than 150000 Rand**.


* Criterion 2: They have **between 5 and 10 years** of seniority **and** their salary is **between 150000 Rand and 230000 Rand**.


* Criterion 3: They have **more than 10 years** of seniority **and** their salary is **less than 150000 Rand or greater than 230000 Rand**. That is to say that a person with more than 10 years of seniority and a salary between 150000 and 230000 Rand cannot receive the bonus.
   
Bernadette has **12 years** of seniority and a salary of **240000** Rand.

Lone has **6 years** of seniority and a salary of **149000 Rand**.

Using comparison operators like we did in the question above, determine whether Lone and Bernadette will receive a bonus. Your output should be 
```
Bernadette will receive a bonus? True
Lone will receive a bonus? False
```

In [42]:
 #for Bernadette
year= 12
salary = 240000


criteria1=(year>5 and salary>15000)
criteria2=(year>5<10 and salary>150000<230000 )
criteria3=(year>=10 and salary<150000>=230000)


result=criteria1 or criteria2 or criteria3

print("Bernadette will receive a bonus?",result)

Bernadette will receive a bonus? True

In [43]:

#for lone
year = 6
salary= 149000


criteria1=(year>5 and salary>15000)
criteria2=(year>5<10 and salary>150000<230000 )
criteria3=(year>=10 and salary<150000>=230000)


result=criteria1 or criteria2 or criteria3

print("lone will receive a bonus?",result)

lone will receive a bonus? True