<a href="https://colab.research.google.com/github/viviansharp/Nawiri_Sprint/blob/main/sprint_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><img src="https://images.squarespace-cdn.com/content/v1/63ad4ba82d1ef311d74b008d/ab1297c0-3227-4ea4-94a3-10fcf4efd0d2/NAWIRIfoo.png?format=300w" style="height:150px"></center>
<center><h2> Problem Solving and Programming </h2></center>
<hr style="border-width:2px;border-color:#002f70">
<center><h2> Introduction to Python</h2></center>
<center><h3> Data Types and Variables<h3></center>
<hr style="border-width:2px;border-color:#002f70">

As we have seen in the last notebook, there are different data types. In this notebook, we'll dive into understanding some basic data types: 
* int
* float
* str

### Integers

We've worked with integers in the previous notebooks. These are generally all the positive or negative whole numbers. Let's use examples from the previous notebook.

In [2]:
bank_money = 500
cash_money = 600
x=1042003543

In [3]:
# Run this cell to see the respective types
print(type(bank_money))
print(type(cash_money))
print(type(x))

<class 'int'>
<class 'int'>
<class 'int'>

The output, `<class 'int'>` means that the variable is of type `int`.  `bank_money`, `cash_money` and `x` are all integers.

### Float

If a number has a decimal/floating point, then it's not an integer type, but a float. Hence, all numbers with a decimal/floating point are classified as `float`. The reason there is a difference in categorizing this two, is because a computer has to keep track of numbers before, and after the floating point.

In [ ]:
pi=3.142
ghana_rate=12.82 # This is the exchange rate for usd to ghanian ced
bank_money = 600.0

In [ ]:
print(type(pi))
print(type(ghana_rate))
print(type(bank_money))

Even though `bank_money` is `600.0`, it still has a floating point, which makes it type `float`.

We can convert numbers from integers to float, and vice versa. This is done by `casting`. Let's see examples.

In [ ]:
# convert cash money to float
cash_moneyfloat=float(cash_money)
print(cash_moneyfloat)

600.0

To convert from one data type to another, eg. `int` to `float`, enclose the variable you want in brackets of the new data type ie. `float(..)`

In [ ]:
print(type(cash_money))
print(type(cash_moneyfloat))

Converting from float to int causes rounding down of your number.

In [ ]:
ghana_rateint=int(ghana_rate)
ghana_rateint

Although `ghana_rate` was 12.82, `ghana_rateint` becomes 12.

In real data sets, applications like this become important where you only want to work with a certain type, or for consistency eg `int` or `float`.

### Exercise

To build a bit of intuition, let's think of exchange rate. In the previous notebook, we specified that our money was in US Dollars. What if we wanted to know what that figure was in Ghanian Cedi, or Kenyan Shilling. For this, we'll use the exchange rates from google.

In [4]:
# We already have the Ghanian cedi exchange rate above as 'ghana_rate'
# Similarly, find the USD to Kenyan Shilling on google and store it in another variable 'ke_rate'
ke_rate= 127.90

Now, we'll do a bit of arithmetic to see what our bank money equals in Kenyan Shilling, and Ghanian Cedi. Like we did addition in the previous notebook, Python allows us to do some basic arithmetic function like a calculator. In this case, we'll use the `*` sign as multiplication

In [ ]:
ghana_money=bank_money*ghana_rate
print(ghana_money,"Cedi")

7692.0 Cedi

Can you calculate for Kenyan money and print it as well?

In [6]:
kenyan_money = bank_money * ke_rate
print(kenyan_money, 'shillings')

63950.0 shillings

>One thing to note is that multiplying a float by an integer will always return a `type float`

### String

A string is any text, number or symbol, enclosed in quotation marks. It's written as *str* in short. You can use triple qoutation marks for strings that span multiple lines.

In [8]:
language = 'Bemba'
code = "3447" # even though it's a number, because it's enclosed in quotation marks, it becomes a string
paragraph = '''This is a string 
                that spans multiple lines
                and can go on to all the lines you want'''

In [ ]:
print(type(language))
print(type(code))
print(type(paragraph))

Strings are some of the most interesting data types in python. We can get the length of a string using the len() function.

In [9]:
len(language)

5

This means that it has five characters. Let's use our cities for this next part

In [10]:
# replace this with the name of your city
my_city="Abuja"

In [11]:
len(my_city)

5

As we have seen above, a string can be just numbers, enclosed within quotation marks. This is common with real data, where numbers can be interpreted as strings, and this is not ideal. However, just as we were able to turn `floats` to `ints` and vice versa, we can do the same for strings, by using `int()` or `float()`

In [12]:
print(code) # from the first cell in string
type(code)

3447

str

In [ ]:
coden=int(code)
type(coden)

int

However, you have to be careful, as not all strings can be converted to ints or floats. What happens when you try to convert the `my_city` string? Run the cell below to find out

In [13]:
int(my_city)

ValueError: ignored

This is because Python doesn't know how to intepret words to numbers. We can only convert strings that contain **only numerical digits**

Another thing we can do with strings is *indexing*. This means accessing certain elements in the string. For example, if we wanted to access the third letter of your city, we can use `my_city[2]`.

> **NOTE** 
>In programming, *computers start counting from 0, not 1.* Therefore, to get the third character, a computer will start at 0, and not 1, and will therefore end up at 2, and not 3. This is why we are using `my_city[2]` instead of `my_city[3]`. 
*This is a very important caveat that you will notice even with your data.*

>Also, you can note that although this is the third notebook you're working on, it's named 02. Hopefully this serves as a good reminder of indexing

In [14]:
my_city[2]

'u'

When indexing, we can use multiple numbers between our square brackets. To get letters in `my_city` from the beginning upto the third letter, we use the following syntax: `my_city[0:3]`. Here, the first number represents the index where you want to *start*, and the second number represents where you want to *stop*. However, the final index is not included.

In [15]:
my_city[0:3]

'Abu'

In [16]:
my_city[3:5]

'ja'

This is called *slicing*, and we'll apply it when getting specific portions of our data.

> Slicing can take 3 parameters(3 numbers in between the square brackets). If we have 3 numbers, the first is the *starting* point, the second is the *stopping* point, and the third can be referred to as *step*. For example, `my_city[1:10:2]` means that start from index 1, stop at index 10, but skip two indices every time. This will only take index 1,3,5,7, and 9, skipping two indices every time. We'll see this in action better when working with lists, but we will practise in the exercise at the end of this notebook.

Almost like numbers, we can concatenate strings using the `+` sign.

In [17]:
city_language=my_city+language
print(city_language)

AbujaBemba

These are just a few examples, and we'll go deeper into strings in future notebooks. However, this is a solid start.

### Exercise

We'll use the string below to practice what we've learned

In [18]:
example="This is a practice string"

Find the length of the `example` string?

In [19]:
len(example)

25

Using slicing, extract the word `practice` from this string?

In [21]:
example[10:18]

'practice'

Using slicing, extract only characters at odd number positions(1,3,5,7..) from the string

In [24]:
example[1::2]

'hsi  rciesrn'

If you are still struggling with the concept of slicing, you can watch this [video](https://youtu.be/eH6GCyHnWTA) where it's explained really well. You can also practice more on [w3schools](https://www.w3schools.com/python/python_strings_slicing.asp).

Concatenate the example string, with another string of your choosing

In [29]:
comment = "and I love this course"
print(example+ " " +comment)

This is a practice string and I love this course